*.pyc
*.db
*~
.*
*.sqlite3
*.sql

/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
MANIFEST
coverage.*
migrations/
!.gitignore
!.travis.yml
!.isort.cfg

# KDE Plasma
.directory

# Visual studio code
.vscode/

# Intellij IDEs
.idea/

VideoManager/settings_secret.py
venv/
gunicorn.py
static/
dashboard/player/html/player-*
dashboard/player/js/jquery.min.js
